
.quicksand-font{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
    body, html {
      height: 100%;
      font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
      background-color: #1b1f3b;
    }

    .bgcolor {
      background-color: #f6bd60;
      color: #44485f; 
      min-height: 95%;
    }

    h1.w3-text-white.main-heading {
      color: #1b1f3b !important; /* Dark blue for h1 */
      font-family: "Quicksand", sans-serif;
      margin-top: 150px;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 50px !important; /* Ensure large font size */
    }

    h2.sub-heading {
      font-size: 20px; /* Size for subheading */
      color: #840032; /* Lighter text color for subheading */
    }

    h2, h3, h5 {
      color: #f6bd60; /* Yellow for headings */
      font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }

    #instructions {
        margin-top: 5px;
        /* color: #1b1f3b !important; */
        font-size: 18px;
        text-align: center;
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }
      

    p, span, a {
      color: #767da2;
    }

    .w3-top {
      background-color: #840032;

    }

    .w3-button {
      color: #f6bd60;
      background-color: #a4243b;
      font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }

    .w3-button:hover {
      background-color: #f6bd60 !important; /* Light yellow */
      color: #1b1f3b !important; /* Dark blue text */
    }

    .w3-footer {
      height: 20px;
      background-color: #840032;
      color: #ffcdb2;
      font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    footer a {
      color: #ffb4a2;
    }

    footer a:hover {
      color: #f6bd60;
    }

    ::selection {
      background: #ffb4a2;
      color: #1b1f3b;
    }

    .game-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      max-width: 600px;
      margin: 0 auto;
      margin-top: 50px;
    }

    .word {
      background-color: #1b1f3b;
      color: #f6bd60;
      padding: 20px;
      text-align: center;
      cursor: pointer;
      border-radius: 8px;
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      /* New styles for uniform size */
      width: 120px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px; /* Adjust as needed */
      word-wrap: break-word;
      overflow: hidden;
    }
    .word.selected {
      background-color: #a4243b;
      color: #ffffff;
    }

    .word.correct {
      background-color: #ffb4a2;
      color: #1b1f3b;
      pointer-events: none;
    }

    .hidden-section {
      display: none;
    }

    .shown {
      display: block !important;
    }

    #message {
      margin-bottom: 200px;
      font-size: 1.2em;
      font-weight: bold;
      color: #a4243b;
      font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    /* #retry-button {
        display: block;
        margin-top: 20px; 
        margin-bottom: 100px; 
        margin-left: auto;
        margin-right: auto;
        background-color: #a4243b;
        color: #f6bd60;
        padding: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
      } */
       
